<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bb">
    <div class="formulario">
      <h2>Publicar Noticias</h2>
      <form>
        <div class="campo">
          <label for="nombre">Titulo:</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>
        <div class="campo">
          <label for="apellido">Autor:</label>
          <input type="text" id="apellido" name="apellido" required />
        </div>
        <div class="campo">
          <label for="email">Descripcion:</label>
          <input type="text" id="email" name="email" required />
        </div>
        <div class="campo">
          <label for="mensaje">Adicional:</label>
          <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        </div>
        <div class="boton">
          <button type="submit">Publicar</button>
        </div>
      </form>
    </div>
  </body>
</html>
