<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bb">
    <div>
        <div class="title"> Resumen de Noticias y Eventos</div>
    </div>
    <div class="container">
<div class="izq">
<div class="title">Noticias</div>
</div>
<div class="der">
<div class="title">Eventos</div>
</div>
    </div>
</body>
</html>
